# Created by venv; see https://docs.python.org/3/library/venv.html
.env
.venv/
__pycache__/
raw/

# dbt
target/
dbt_packages/
logs/

# Streamlit secrets
football_pipeline_dbt/streamlit/snowflake_connection.py